<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this is my app page</h1>

    <h1> Author : {{author}} </h1>
    <h2> Age : {{age}} </h1>
        <h1> {{lst}} </h1>


    {% comment %} ----conditional statement---- {% endcomment %}

    {% if age >= 20 %}
       <h1>you will get driving license </h1>
    {% elif age >= 10 and age <= 19 %}
       <h4> you will not get driving license </h4>
    {% else %}
        <h4> your a child </h4>

    {% endif %}



    {% comment %} --for loop-- {% endcomment %}

    {% for i in courses %}

     <h3>{{i.id}} {{i.name}} {{i.fees}}</h3>

      {% endfor %} 



      {{lst}}

      <h4> {{ lst | join:" - " }} </h4>
      <h1>{{ birthday | date:"D d M Y" }} </h1>

      {% comment %} <h3>{{ list | first }}</h3> {% endcomment %}
      {% comment %} <h3>{{ list | last }}</h3> {% endcomment %}
      {% comment %} <h3>{{ list_1 | linenumbers }}</h3> {% endcomment %}
     
      {% comment %} <h3> {{ val | add:"[3, 7, 9]" }}</h3> {% endcomment %}

      
      <h3>{{"Python is Fun" | cut:" "}}</h3>

      <h3>{{ name_lst | dictsort:"name" }}</h3>



</body>
</html>